<!doctype html>
<html lang="en">
<head>
    <!--
        Alisa Llavore
        February 9, 2021
        This is the landing page for the user's interests
    -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Added my stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Animal Crossing Dating</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ @BASE }}">Animal Crossing Dating Website</a>
</nav>

<div class="container">
    <h1>Interests</h1>
    <hr>

    <form action="summary" method="post">
    <p><b>In-door interests</b></p>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="tv" id="tv" name="indoorInterests[]">
                <label class="form-check-label" for="tv">tv</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="puzzle" id="puzzle" name="indoorInterests[]">
                <label class="form-check-label" for="puzzle">puzzle</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="movies" id="movies" name="indoorInterests[]">
                <label class="form-check-label" for="movies">movies</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="reading" id="reading" name="indoorInterests[]">
                <label class="form-check-label" for="reading">reading</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="cooking" id="cooking" name="indoorInterests[]">
                <label class="form-check-label" for="cooking">cooking</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="playingCards" id="playingCards" name="indoorInterests[]">
                <label class="form-check-label" for="playingCards">playing cards</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="boardGames" id="boardGames" name="indoorInterests[]">
                <label class="form-check-label" for="boardGames">board games</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="videoGames" id="videoGames" name="indoorInterests[]">
                <label class="form-check-label" for="videoGames">video games</label>
            </div>
        </div>
    </div>

    <!-- Outdoor Interests-->

    <p><b>Out-door interests</b></p>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="hiking" id="hiking" name="outdoorInterests[]">
                <label class="form-check-label" for="hiking">hiking</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="walking" id="walking" name="outdoorInterests[]">
                <label class="form-check-label" for="walking">walking</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="biking" id="biking" name="outdoorInterests[]">
                <label class="form-check-label" for="biking">biking</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="climbing" id="climbing" name="outdoorInterests[]">
                <label class="form-check-label" for="climbing">climbing</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="swimming" id="swimming" name="outdoorInterests[]">
                <label class="form-check-label" for="swimming">swimming</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="collecting" id="collecting" name="outdoorInterests[]">
                <label class="form-check-label" for="collecting">collecting</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
           <button type="submit" class="btn btn-info btn-lg rounded">Submit</button>
        </div>
    </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>