<!doctype html>
<html lang="en">
<head>
    <!--
        Alisa Llavore
        February 9, 2021
        This is the landing page for the user's personal information
    -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Added my stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Animal Crossing Dating</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ @BASE }}">Animal Crossing Dating Website</a>
    </nav>

    <div class="container">
        <h1>Personal Information</h1>
        <hr>
        <form method="post" action="#">
            <div class ="row">
                <div class="col-8">
                        <!-- First Name -->
                        <div class="form-group">
                            <label for="fname"><b>First Name: </b> </label>
                            <input type="text" class="form-control" id="fname" name = "fname" placeholder="Enter your first name" value="{{ @userFname }}">
                            <check if="{{ isset(@errors['fname']) }}">
                                {{ @errors['fname'] }}
                            </check>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="lname"><b>Last Name: </b></label>
                            <input type="text" class="form-control" id="lname" name = "lname" placeholder="Enter your last name" value="{{ @userLname }}">
                            <check if="{{ isset(@errors['lname']) }}">
                            {{ @errors['lname'] }}
                            </check>
                        </div>

                        <!-- Age -->
                        <div class="form-group">
                            <label for="age"><b>Age: </b></label>
                            <input type="number" class="form-control" id="age" name = "age" placeholder="Enter your age" value="{{ @userAge }}">
                            <check if="{{ isset(@errors['age']) }}">
                            {{ @errors['age'] }}
                            </check>
                        </div>

                        <!-- Gender -->
                        <div class="form-group">
                            <p><b>Gender: </b></p>
                            <repeat group="{{ @genders }}" value="{{ @gender}}">
                                <label class="radioFormat">
                                    <input type="radio" name="gender" id="{{ @gender }}" value="{{ @gender }}"
                                    <check if="{{ @gender == @userGender}}">checked</check>>

                                    {{ ucfirst(@gender) }}
                                </label>
                            </repeat>
                        </div>

                        <!-- Phone number -->
                        <div class="form-group">
                            <label for="pnumber"><b>Phone Number: </b></label>
                            <input type="tel" class="form-control" id="pnumber" name = "pnumber" placeholder="Enter your phone number" value="{{ @userPhone }}">
                            <check if="{{ isset(@errors['pnumber']) }}">
                                {{ @errors['pnumber'] }}
                            </check>
                        </div>

                        <!-- Premium Membership -->
                        <p><b>Premium Account</b></p>

                                    <div class="form-check">
                                        <label class="form-check-label" for="isPremium">
                                        <input class="form-check-input" type="checkbox" id="isPremium" name="isPremium">
                                            Sign me up for a Premium Account
                                        </label>
                                    </div>

                </div>
                <div class="col-4">
                    <div class="alert alert-secondary" role="alert">
                        <b>Note: </b>All information entered is protected by out <a href="">privacy policy.</a>
                        Profile information can only be viewed by others with your permission.
                    </div>
                </div>

                <div class="col text-right">
                    <button type="submit" class="btn btn-info btn-lg rounded">Next</button>
                </div>
            </div>
        </form>
        <div class="row">
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>