<!doctype html>
<html lang="en">
<head>
    <!--
        Alisa Llavore
        January 27, 2021
        This is the summary page for my dating website.
    -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Added my stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Animal Crossing Dating</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ @BASE }}">Animal Crossing Dating Website</a>
    </nav>

    <div class="container border p-3 rounded">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-curved">
                    <tbody>
                        <tr>
                            <td>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</td>
                        </tr>
                        <tr>
                            <td>Gender: {{ @SESSION.gender }}</td>
                        </tr>
                        <tr>
                            <td>Age: {{ @SESSION.age }}</td>
                        </tr>
                        <tr>
                            <td>Phone: {{ @SESSION.pnumber }}</td>
                        </tr>
                        <tr>
                            <td>Email: {{ @SESSION.email }}</td>
                        </tr>
                        <tr>
                            <td>State: {{ @SESSION.state }}</td>
                        </tr>
                        <tr>
                            <td>Seeking: {{ @SESSION.seeking }}</td>
                        </tr>
                        <tr>
                            <td>Interests: {{ @SESSION.indoorInterests }} {{ @SESSION.outdoorInterests }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid col justify-content-center">
                <img src="images/profileImg.png" class="justify-content-center rounded img-fluid max-width: 100% height: 25% width: auto" id="profile" alt="profile image">
                <p>Biography: <br>{{ @SESSION.bio }}</p><br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <button type="button" class="btn btn-info btn-lg rounded">Contact Me</button>
            </div>
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>